

form
{
	width: 350px; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
 
    text-align: justify;
    padding: 12px;
	
    margin-bottom: 20px;
	
}
fieldset
{
	
 background-color:rgba(255,255,255, 0.3);
 
	
}

